/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*LOGIN Form*/

html {
    min-height: 100vh;
}

body {
    background-image: url("./img/admin_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
    font-family: 'Dancing Script', cursive !important;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.container {
    padding: 110px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff !important;
    opacity: 1; /* Firefox */
    font-size: 18px !important;
}

.form-login {
    background-color: rgba(0,0,0,0.55);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    color: white;
    box-shadow: 0 1px 0 #cfcfcf;
}

.text-size {
    font-size: 20px !important;
}

.c-form-login {
    border: 2px solid rgba(0, 0, 0, 0.00) !important;
    margin-top: 5px;
}

.c-form-login:hover {
    border: 2px solid #fff !important;
}

.form-wrapper {
    margin: 0 auto;
}

.form-control {
    background: transparent !important;
    color: white !important;
    font-size: 18px !important;
}

h1 {
    color: white !important;
}

h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}

.form-control {
    border-radius: 10px;
}

.text-white {
    color: white !important;
}

.wrapper {
    text-align: center;
}

.footer p {
    font-size: 18px;
}

.film-new a:hover {
    text-decoration:none;
    color: #fff;
}

.film-table {
    color: #fff;
    background-color: rgba(0,0,0,0.55) !important;
}

.film-table a:hover{
    text-decoration:none;
    color: #fff;
}

.page{
    color: #fff;
    text-align:center;
}

/*LOGIN Form*/

/*EDIT FILM*/

.film-image {
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.00);
    border-radius: 10px;
}

/*EDIT FILM*/